extends _layout.pug

block scripts
  script(src='https://js.pusher.com/4.0/pusher.min.js', type='text/javascript')
  script(type='text/javascript')!= `window.PUSHER_APP_KEY="${PUSHER_APP_KEY}"`
  script(type='text/javascript', src="/scripts/main.js")

block body
  //- each item in orders
  each item in orders
    article(id=`ar_${item.orderId}`)
      .title= `${item.orderId}: ${item.name}`
      .message= item.name
      .buttons
        img.invis(id=`al_${item.orderId}`, src='/styles/images/ajax-loader.gif')
        |  
        button.ready(id=`rb_${item.orderId}`, name='ready', value='ready', onclick=`this.disabled=true;order_ready("${item.orderId}");`) Ready
        |  
        button.cancel(id=`cb_${item.orderId}`, name='cancel', value='cancel', onclick=`this.disabled=true;order_cancel("${item.orderId}");`) Cancel
  //- article(id="ar_someid")
  //-   .title
  //-     | orderId: name
  //-   .message name
  //-   .buttons
  //-     img.invis(id='al_someid', src='/styles/images/ajax-loader.gif')
  //-     |  
  //-     button.ready(id='rb_someid', name='ready', value='ready', onclick='this.disabled=true;order_ready("someid");') Ready
  //-     |  
  //-     button.cancel(id='cb_someid', name='cancel', value='cancel', onclick='this.disabled=true;order_cancel("someid");') Cancel
